/* font-family: 'Questrial', sans-serif;
font-family: 'Rock Salt', cursive;
font-family: 'Slackey', cursive; */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
header {
/* padding: 0; */
margin: 0;
z-index: 1;
width: 100%;
padding-top: 50px;
box-shadow: 0px 0px 10px rgba(0,0,0,.5);
}
body {
  /* max-width: 850px; */
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Questrial', sans-serif;

}

nav {
  display: inline-flex;
  width: 100%;
  justify-content: space-around;
  color: #E4D9BB;
  font-size: 2em;
  font-family: 'Yellowtail', cursive;
  /* bottom: 0; */
  margin: 0;
  padding: 1%;
}
nav h5, .header-font {
  cursor: pointer;
}
h5 {
  margin-bottom: 0;
  padding-top: 30px;
}
footer {
  /* background: url('../assets/tiki-footer.jpg'); */
  width: 100%;
  object-fit: cover;
  /* background-size: cover;
  background-repeat: repeat; */
  background-position: bottom;
  background-color: #2C4353;
  /* background-blend-mode: luminosity; */
  /* filter: brightness(90%); */
  box-shadow: 0px 0px 10px rgba(0,0,0,.5);
  text-align: center;
  padding: 50px;

}
footer h1 {
  /* text-shadow: 0 0 20px #2C4353; */
  color: #CA726E;
  font-size: 2em;

}
main {
  background-image: url('../assets/tiki-footer.jpg');
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  /* padding: 50px; */
  margin: 0;
  background-color: #777062;
  background-blend-mode: lighten;
  z-index: 0;
}
div {
  margin: 0;
  padding: 0;
}
h1 {
  font-family: 'Slackey', cursive;
  font-size: 6em;
  margin: 0;
  padding: 0;
  line-height: 1em;
  color: #CA726E;
}
h2, h3 {
  font-family: 'Yellowtail', cursive;
  margin: 0;
  left: 0;
  padding: 0;
}
h2 {
  color: #E4D9BB;
  font-size: 3em;
}
.container h2 {
  color: #E4D9BB;
  font-size: 5em;
  text-shadow: 2px 2px 4px #2C4353;
  padding-bottom: 40px;
  padding-top: 60px;
}
h3 {
  color: #C94D46;
  font-size: 2em;
  text-shadow: 0 0 10px #E4D9BB;
}
.header-image{
  margin: 0;
  /* padding: 10px; */
  width: 100%;
  background: url('../assets/luau-blue.png');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #2C4353;
  /* background-color: #000000; */
  background-blend-mode: multiply;
}
.header-font{
  width: 700px;
  margin: 0 auto;
  position: relative;
}
.off-center {
  text-align: left;
  width: 85%;
  margin: 0 auto;
  z-index: 1;
  position: relative;
}
.rotate-text {
  transform: rotate(-25deg);
  width: 500px;
  margin-bottom: -37px;
  width: 50px;
}
.rows {
  width: 100%;
  display: inline-flex;
  justify-content: space-around;
  margin: 0 auto;
}
.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(104, 99, 85, .5);
  /* box-shadow: 0px 0px 10px rgba(42, 40, 34, .5); */
  padding-bottom: 200px;
  padding-top: 50px;


}
.container img {
  width: 230px;
  height: 250px;
  object-fit: cover;
  box-shadow: 0px 0px 10px rgba(0,0,0,.7);
}
.content-container {
  width: 80%;
  text-align: center;
}
label {
  margin-bottom: 20px;
  padding: 20px;
  display: block;
}
input {
  background: #2C4353;
  font-family: 'Yellowtail', cursive;
  color: #E4D9BB;
  font-size: 2em;
  padding: 1%;
  border: 1px solid #837F73;
  width: 330px;
  display: block;
  margin: 1% auto;
}
input[type=submit] {
  color: #E4D9BB;
  background: #2C4353;
  width: 150px;
  text-align: center;
  font-family: 'Slackey', cursive;
}
input[type=submit]:hover {
  color: #C94D46;
  background: #E4D9BB;
}
input:focus {
  outline: #E4D9BB;
  box-shadow: 0px 0px 50px #F7E9CA;
}
#footer-icon {
  filter: invert(100%) sepia(100%);
  width: 70px;
  left: 0;
  margin-top: 30px;
}
.drinks {
  padding: 30px;
  cursor: pointer;
}
.drinks img:hover {
  box-shadow: 0px 0px 50px #F7E9CA;
  cursor: pointer;
}
