html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
header {
  /* padding: 0; */
  margin: 0;
  z-index: 1;
  width: 100%;
  padding-top: 50px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
body {
  /* max-width: 850px; */
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Questrial", sans-serif;
}

nav {
  display: inline-flex;
  width: 100%;
  justify-content: space-around;
  color: #e4d9bb;
  font-size: 2em;
  font-family: "Yellowtail", cursive;
  /* bottom: 0; */
  margin: 0;
  padding: 1%;
}
nav h5,
.header-font, .create-account, .clickForDetail {
  cursor: pointer;
}
h5 {
  margin-bottom: 0;
  padding-top: 30px;
}
footer {
  /* background: url('../assets/tiki-footer.jpg'); */
  width: 100%;
  object-fit: cover;
  /* background-size: cover;
  background-repeat: repeat; */
  background-position: bottom;
  background-color: #2c4353;
  /* background-blend-mode: luminosity; */
  /* filter: brightness(90%); */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 50px;
}
footer h1 {
  /* text-shadow: 0 0 20px #2C4353; */
  color: #ca726e;
  font-size: 2em;
}
main {
  background-image: url("../assets/tiki-footer.jpg");
  width: 100%;
  height: 50%;
  /* height: 100%; */
  /* object-fit: cover; */
  /* background-repeat: repeat;
  background-size: cover;
  background-position: top; */
  /* padding: 50px; */
  margin: 0;
  background-color: #777062;
  background-blend-mode: lighten;
  z-index: 0;
}
div {
  margin: 0;
  padding: 0;
}
h1 {
  font-family: "Slackey", cursive;
  font-size: 6em;
  margin: 0;
  padding: 0;
  line-height: 1em;
  color: #ca726e;
}
h2, h3, h5 {
  font-family: "Yellowtail", cursive;
  margin: 0;
  left: 0;
  padding: 0;
}
h2 {
  color: #e4d9bb;
  font-size: 3em;
}
.container h2 {
  color: #e4d9bb;
  font-size: 5em;
  text-shadow: 2px 2px 4px #2c4353;
  padding-bottom: 40px;
  /* padding-top: 60px; */
}
h3 {
  color: #c94d46;
  font-size: 2em;
  text-shadow: 0 0 10px #e4d9bb;
}

.header-image {
  margin: 0;
  /* padding: 10px; */
  width: 100%;
  background: url("../assets/luau-blue.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #2c4353;
  /* background-color: #000000; */
  background-blend-mode: multiply;
}
.header-font {
  width: 700px;
  margin: 0 auto;
  position: relative;
}
.off-center {
  text-align: left;
  width: 85%;
  margin: 0 auto;
  z-index: 1;
  position: relative;
}
.rotate-text {
  transform: rotate(-25deg);
  width: 500px;
  margin-bottom: -37px;
  width: 50px;
}
.rows {
  width: 100%;
  display: inline-flex;
  justify-content: space-around;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-around;
}
/* .rows:after {
  content: "";
  flex: auto;
} */
.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(104, 99, 85, 0.5);
  /* box-shadow: 0px 0px 10px rgba(42, 40, 34, .5); */
  padding-bottom: 200px;
  padding-top: 50px;
}
.drinks img {
  width: 230px;
  height: 250px;
  object-fit: fill;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
}
.content-container {
  width: 80%;
  text-align: center;
}
label {
  margin-bottom: 20px;
  padding: 20px;
  display: block;
}
input,
textarea {
  background: #2c4353;
  font-family: "Yellowtail", cursive;
  color: #e4d9bb;
  font-size: 2em;
  padding: 1%;
  margin-left: 10px;
  border: 1px solid #837f73;
  width: 330px;
  display: block;
  margin: 1% auto;
  text-indent: 10px;
}
input[type="submit"] {
  color: #e4d9bb;
  background: #2c4353;
  width: auto;
  text-align: center;
  font-family: "Slackey", cursive;
}
input[type="submit"]:hover {
  color: #c94d46;
  background: #e4d9bb;
}
textarea {
  resize: none;
}
input:focus,
textarea:focus {
  outline: #e4d9bb;
  box-shadow: 0px 0px 50px #f7e9ca;
  text-indent: 10px;
}
#footer-icon {
  filter: invert(100%) sepia(100%);
  width: 70px;
  left: 0;
  margin-top: 30px;
}
.drinks {
  padding: 30px;
}
.clickForDetail:hover {
  box-shadow: 0px 0px 100px #f7e9ca;
  background: rgba(228,217,187, .5);
  border-radius: 50px;
  cursor: pointer;
}
table {
  /* display: inline-flex;
  width: 100%; */
  /* justify-content: center;
  align-items: baseline; */
  box-sizing: border-box;
  width: 550px;
  margin: 0 auto;
}
table input,
textarea {
  margin: 20px;
  width: 500px;
  font-family: "Questrial", sans-serif;
  font-size: 1.5em;
  padding: 1%;
}
.submitForm {
  display: block;
  box-sizing: border-box;
}

.hide-login {
  display: none;
}

.Login {
  display: none !important;
}
.drink-details {
  background-color: rgba(228,217,187, .8);
  border-radius: 20px;
}
h4 {
  font-family: "Yellowtail", cursive;
  color: #2C4353;
  font-size: 4em;
  margin: 0;
}
.drink-details h4{
  font-size: 1.5em;
}
.social {
  display: inline-flex;
  width: 40%;
  align-items: baseline;
  justify-content: center;
  /* font-size: .5em; */
}
.ingredients-garnishes ul, .tags ul {
  /* display: block; */
  margin: 0;
}
.ingredients-garnishes{
  /* display: inline-flex;
  justify-content: space-around; */
  text-align: left;
  width: 250px;
  margin: 2%;
}
.tags {
  display: inline-flex;
  justify-content: center;
}
.ingredients-garnishes span {

}
.ingredients, .garnishes, .tags {
  width: auto;
  margin: 1%;
  margin-bottom: 20px;

}
.detail-image img {
  display: block;
  width: 300px;
  height: 300px;
  margin: 0 auto;
  object-fit: fill;

}
.detail-image {
  /* width: 100%; */
  /*  */
  display: flex;
  align-items: flex-end;
  /* width: 50%; */
  margin: 1%;
}
.tags {

  list-style-type: none;
  padding: 0;
  margin: 0 auto;
}
.tag-container {
  width: 100%;
  display: inline-block;

  margin: 20px 0;
  font-style: italic;
}
.small-container {
  display: inline-flex;
  width: 100%;
  margin: 10px 0;
  margin-left: 0;
  justify-content: center;
}
ol {
  text-align: left;
  width: 70%;
  margin: 0 auto;
}
ol li {
  margin: 1%;
}
/* .recipes {
  width: 60%;
  margin: 0 auto;
} */
.comments {
  padding-bottom: 50px;
}
td {
  padding: 30px 0;
}
table, th, td {
  border: 1px solid #2c4353;
}
table {
  border-collapse: collapse;
}
.comment-header {
  font-size: 1em;
  text-align: left;
  padding-bottom: 20px;
  padding-left: 20px;
  margin: 0;
}
.submitComment {
  width: 70%;
  margin: 0 auto;
}
.smaller-container {
  margin: 0 auto;
  width: 500px;
}
