/* font-family: 'Questrial', sans-serif;
font-family: 'Rock Salt', cursive;
font-family: 'Slackey', cursive; */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
header {
/* padding: 0; */
margin: 0;
z-index: 1;
width: 100%;
padding: 50px 0;
box-shadow: 0px 0px 10px rgba(0,0,0,.5);
}
body {
  /* max-width: 850px; */
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Questrial', sans-serif;

}

nav {
  display: inline-flex;
  width: 100%;
  justify-content: space-around;
}
footer {
  background: url('../assets/tiki-footer.jpg');
  width: 100%;
  object-fit: cover;
  background-size: cover;
  background-repeat: repeat;
  /* background-position: bottom; */
  /* background-color: #AA150D; */
  /* background-blend-mode: luminosity; */
  filter: brightness(90%);
  box-shadow: 0px 0px 10px rgba(0,0,0,.5);
  text-align: center;
  padding: 60px;

}
footer h1 {
  text-shadow: 0 0 20px #2C4353;
  color: #F2635C;
  font-size: 2em;
}
main {
  background: url('../assets/mod-header.jpg');
  width: 100%;
  object-fit: cover;
  padding: 50px;
  padding-bottom: 200px;
  margin: 0;
  background-color: #000000;
  background-blend-mode: luminosity;
  z-index: 0;
}
div {
  margin: 0;
  padding: 0;
}
h1 {
  font-family: 'Slackey', cursive;
  font-size: 6em;
  margin: 0;
  padding: 0;
  line-height: 1em;
  color: #2C4353;
}
h2, h3 {
  font-family: 'Yellowtail', cursive;
  margin: 0;
  left: 0;
  padding: 0;
}
h2 {
  color: #E4D9BB;
  font-size: 3em;
}
.container h2 {
  color: #2C4353;
  font-size: 5em;
}
h3 {
  color: #2C4353;
  font-size: 2em;
}
.header-image{
  margin: 0;
  /* padding: 10px; */
  width: 100%;
  background: url('../assets/luau-tangerine.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #AA150D;
  background-blend-mode: luminosity;
}
.off-center {
  text-align: left;
  width: 44%;
  margin: 0 auto;
  z-index: 1;
}
.rotate-text {
  transform: rotate(-25deg);
  width: 500px;
  margin-bottom: -37px;
  width: 50px;
}
.rows {
  width: 100%;
  display: inline-flex;
  justify-content: space-around;
  margin: 0 auto;
}
.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}
.container img {
  width: 230px;
  height: 250px;
  object-fit: cover;
  box-shadow: 0px 0px 10px rgba(0,0,0,.7);
}
.content-container {
  width: 100%;
  text-align: center;
}
