<!-- <div class='edit'>
  <form ng-submit='ctrl.updateDrink(drink)' ng-if='$index === ctrl.indexOfEditFormToShow'>
    Name: <input type="text" ng-model='ctrl.createForm.name' placeholder=''><br />
    Description: <textarea type="text" ng-model='ctrl.createForm.description'></textarea><br />
    Ingredients: <input placeholder='Separate ingredients by comma' type="text" ng-model='ctrl.createForm.ingredients'><br />
    Garnishes: <input placeholder='Separate garnishes by a comma' type="text" ng-model='ctrl.createForm.garnishes'><br />
    Recipe: <textarea type="text" ng-model='ctrl.createForm.recipe'></textarea><br />
    Tags:  <input placeholder='Separate tags by a comma' type="text" ng-model='ctrl.createForm.tags'><br />
    Image URL: <input type="text" ng-model='ctrl.createForm.image'><br />
    <input type="submit" value="Submit Edit">
  </form>

</div> -->

<div class="add">
  <h2>Edit a New Drink</h2>
  <form ng-submit='ctrl.updateDrink(ctrl.drink)' class='submitForm'>

    <table>
      <tr>
      <td><h3>Name: </h3></td>
      <td><input type="text" ng-model='ctrl.createForm.name' placeholder="{{ctrl.drink.name}}"></td>
    </tr>

    <tr>
      <td><h3>Description: </h3></td>
      <td><textarea type="text" ng-model='ctrl.createForm.description' rows="2" placeholder='{{ctrl.drink.description}}'><p>
      </p></textarea><br /></td>
    </tr>

    <tr>
      <td><h3>Ingredients: </h3></td>
      <td><input placeholder='{{ctrl.drink.ingredients.join(",")}}' type="text" ng-model='ctrl.createForm.ingredients'></td>
      <!-- add button? -->
    </tr>

    <tr>
      <td><h3>Garnishes: </h3></td>
      <td><input placeholder='{{ctrl.drink.garnishes.join(",")}}' type="text" ng-model='ctrl.createForm.garnishes'></td>
    </tr>

    <tr>
      <td><h3>Recipe: </h3></td>
      <td><textarea type="text" ng-model='ctrl.createForm.recipe' rows="4" placeholder='{{ctrl.drink.recipe.join(",")}}'></textarea></td>
    </tr>

    <tr>
      <td><h3>Tags:  </h3></td>
      <td><input placeholder='{{ctrl.drink.tags.join(",")}}' type="text" ng-model='ctrl.createForm.tags'></td>
    </tr>

    <tr>
      <td><h3>Image URL: </h3></td>
      <td><input placeholder='{{ctrl.drink.image}}' type="text" ng-model='ctrl.createForm.image'></td>
    </tr>
  </table>

    <input type="submit" value="Submit" style="width: auto;">
  </form>
</div>
