<h2 style="color: #c94d46; padding-bottom: 0">Log In</h2>
<form class="row dark-background" ng-submit="ctrl.logIn()" style="padding-bottom: 10px;">
    <input type="text" ng-model="ctrl.username" placeholder="username"/>
    <input type="password" ng-model="ctrl.password" placeholder="password"/>
    <input type="submit" value="Log In" ng-click="ctrl.toggleLogout()"/>
</form>
<h3 class="create-account" ng-click="ctrl.changeInclude('createAccount')">Need to create an account?</h3>











      <!-- <a href="#" ng-click="ctrl.goApp()">Click here to reveal the app</a>
      <div ng-if="ctrl.loggedInUserName">
          Welcome to the app, {{ctrl.loggedInUserName}}
      </div> -->
