<div class="add">
  <h2>Add a New Drink</h2>
  <form ng-submit='ctrl.createDrink()' id="submitForm"  ng-class="(ctrl.loggedIn ? 'hide-log' : 'Log')">

    <table>
      <tr>
      <td><h3>Name: </h3></td>
      <td><input type="text" ng-model='ctrl.createForm.name'></td>
    </tr>

    <tr>
      <td><h3>Description: </h3></td>
      <td><textarea type="text" ng-model='ctrl.createForm.description' rows="2"></textarea><br /></td>
    </tr>

    <tr>
      <td><h3>Ingredients: </h3></td>
      <td><input placeholder='Separate ingredients by comma' type="text" ng-model='ctrl.createForm.ingredients'></td>
      <!-- add button? -->
    </tr>

    <tr>
      <td><h3>Garnishes: </h3></td>
      <td><input placeholder='Separate garnishes by a comma' type="text" ng-model='ctrl.createForm.garnishes'></td>
    </tr>

    <tr>
      <td><h3>Recipe: </h3></td>
      <td><textarea type="text" ng-model='ctrl.createForm.recipe' rows="4"></textarea></td>
    </tr>

    <tr>
      <td><h3>Tags:  </h3></td>
      <td><input placeholder='Separate tags by a comma' type="text" ng-model='ctrl.createForm.tags'></td>
    </tr>

    <tr>
      <td><h3>Image URL: </h3></td>
      <td><input type="text" ng-model='ctrl.createForm.image'></td>
    </tr>
  </table>

    <input type="submit" value="Bottoms Up!" style="width: auto;">
  </form>
</div>
